.label-text {
    font-family: Roboto;
    font-size: 1.125rem;
    color: #4e4e4e;
    margin-bottom: 0;
}

.form-label {
  font-family: Roboto;
  font-size: 12px;
  color: #4e4e4e;
  margin-bottom: 0;
}

.form-input {
    height: 38px;
    border-radius: 8px;
    border: solid 1px #979797;
    background-color: #ffffff;
}

.date-picker {
    width: 100%;
    height: 38px;
    border: 1px solid #ced4da;
    border-radius: 4px;
    padding: 11px;
    color: #495057;
}

.input-border {
    border-radius: 0.5rem;
    border: none;
    height: 3.125rem;
}

.invalid-small {
    font-family: Roboto;
    color: #ff0000;
}

.invalid-input {
    border: 1px solid #ff0000;
}

.have-account {
    margin: 10% 0 0 0;
    font-family: Roboto;
    font-size: 1.125rem;
    color: #ffffff;
    text-align: center;
}

::placeholder {
    font-family: Roboto;
    font-size: 18px;
    color: #717171;
  }