.container-styles {
    width:100%;
    max-height: 100%;
    display: flex;
    flex-direction: column;
    padding: 0px 6px;
}

.container-spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60%;
}

.card-styles {
  width: 100%;
  min-height: 128px;
  margin: 3px 0px;
  padding: 6px 8px;
  border-radius: 8px;
  box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.5);
  background-color: #ffffff;
}

.card-styles:active {
  box-shadow: 2px 2px 6px rgb(129, 129, 129);
}

.spinner-styles {
  position: absolute;
}

.one-card-styles {
  width: 100%;
  min-height: 128px;
  margin: 3px 0px;
  border-radius: 8px;
  box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.5);
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.text-styles {
  font-family: Roboto;
  font-size: 18px;
  color: #939393;
  margin: 0px 6px;
}

.plus-icon {
  width: 16px;
}

.new-user {
  display: flex;
}