#chart {
    height: 250px;
    font-size: 20px;
}

.chart-style {
    overflow: auto;
}


.container-style {
    margin-top: 20px
}

.tooltip-text-style{
    font-family: Roboto;
    color:#939393; 
    font-size: 16px;
    margin-right: 6px;
}

.tooltip-value-style{
    font-size: 16px;
}

.intervals-style {
    display: flex;
    justify-content: space-between;
}

.left-button {
    background-color: rgba(0,0,0,.03);
    border: 1px solid rgba(0,0,0,.125);
    color: #939393;
    border-top-left-radius: 18px;
    border-bottom-left-radius: 18px;
}

.right-button {
    background-color: rgba(0,0,0,.03);
    border: 1px solid rgba(0,0,0,.125);
    color: #939393;
    border-top-right-radius: 18px;
    border-bottom-right-radius: 18px;
}

.chart-title {
    margin: 0;
    font-family: Roboto;
    color:#939393; 
    align-self: center;
    text-align: center;
}