.title-styles {
    font-family: Roboto;
    font-size: 24px;
    font-weight: bold;
    color: #939393;
  }

.body-style {
  max-height: 400px;
  overflow: auto;
  padding: 3px;
}

.card-icon-style {
  margin: 3px;
  padding: 3px 6px;
  background-color: whitesmoke;
  border-radius: 4px;
}

.icon-title-style {
  color: #939393;
  font-family: Roboto;
  font-weight: normal;
}

.star-icon-style {
  width: 20px;
}

.star-text-style {
  color: #939393;
  font-family: Roboto;
  font-weight: normal;
  padding: 3px;
  font-size: 16px;
  display: flex;
    align-items: end;
}

.icon-container-style {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icon-style {
  width: 100px;
  height: 100px;
}

.btn-container-style {
display: flex;
flex-direction: column;
align-items: center;
}

.buy-icon-btn-style {
  display: flex;
  justify-content: center;
  padding: 4px;
  margin: 2px;
  font-size: 14px;
  background-color: #a0e058;
  border-color: #a0e058;
  min-width: 105px;
}

.use-icon-btn-style {
  padding: 4px;
  margin: 2px;
  font-size: 14px;
}

.disabled-text-styles {
  max-width: 100px;
  font-family: Roboto;
  text-align: center;
  font-size: 12px;
  color: #dc3545;
}