.form {
    margin-top: 12%;
    padding: 0;
}

.forgotten-password {
    text-decoration: underline;
    font-family: Roboto;
    font-size: 1.125rem;
    color: #ffffff;
    text-align: center;
}

.login-button {
    display: flex;
    margin-top: 10%;
    border-radius: 1.875rem;
    background-color: #ff7777;
    color: white;
    font-family: Roboto;
    justify-content: center;
    font-size: 100%;
    padding: 2%;
    border: none;
}

.align-input-text {
    text-align: center;
}

input[id=loginUsername]::placeholder, input[id=loginPassword]::placeholder {
    text-align: center;
}