
.view-styles {
    display: flex;
    flex-direction: column;
    background: #50dfdf;
    align-items: center;
    height:auto;
    min-height:100vh;
    overflow: auto;
}

.logo {
    width: 30%;
    margin-top: 20%;
}