.view-styles {
    display: flex;
    flex-direction: column;
    background: #50dfdf;
    align-items: center;
    height:auto;
    min-height:100vh;
}

.title {
    margin-top: 10%;
    font-family: Roboto;
    font-size: 3rem;
    font-weight: bold;
    line-height: 2.08;
    color: #ffffff;
}