.footer-styles {
    display: flex;

    justify-content: space-between;
    align-items: center;
    left: 0;
    width: auto;
    height: 4.688rem;
    bottom: 0;
    right: 0;
    background-color: #ff7777; 
    padding: 0 1rem;   
}

.icon-selected {
    width: 2.688rem;
    height: 2.563rem;
}