.title-style {
  font-family: Roboto;
  font-size: 1.5rem;
  font-weight: bold;
  color: #717171;
}

.text-style {
    font-family: Roboto;
    font-size: 1rem;
    color: #717171;
}

.input-border {
    border-radius: 0.3rem;
    border: 1px solid #717171;
}

.button-style { 
    border: none;
    background: white;
    color: #717171;
    font-family: Helvetica;
    font-size: 1rem;
}

.button-style:hover {
    background-color: transparent;
    color: #717171;
    }

.not-user-text-style {
    color: red
}