.header-styles {
    display: flex;
    align-items: center;
    width: auto;
    height: 60px;
    background-color: #ff7777;
}

.menu {
  margin: 0 1rem;
  width: 2.188rem;
  height: 1.563rem;
}

.title {
  font-family: Roboto;
  font-size: 2rem;
  font-weight: bold;
  color: #ffffff;
  margin: 0;
}