.container-styles {
    width:100%;
    max-height: 100%;
    display: flex;
    flex-direction: column;
    padding: 0px 6px;
    font-family: Roboto;
}

.container-spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60%;
}

.card-styles {
  width: 100%;
  min-height: 128px;
  margin: 3px 0px;
  padding: 6px 8px;
  border-radius: 8px;
  box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.5);
  background-color: #ffffff;
}

.card-styles:active {
  box-shadow: 2px 2px 6px rgb(129, 129, 129);
}

.spinner-styles {
  position: absolute;
}

.one-card-styles {
  width: 100%;
  min-height: 128px;
  margin: 3px 0px;
  border-radius: 8px;
  box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.5);
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.text-styles {
  font-family: Roboto;
  font-size: 18px;
  color: #939393;
  margin: 0px 6px;
}

.icon-styles {
  width: 34px;
}

.new-user {
  display: flex;
}

.title-text-styles {
  font-weight: bold;
  color: #4e4e4e;
  margin-bottom: 0;
}

.activitie-card-styles {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icon-container-styles {
  border-radius: 50%;
  padding: 8px;
  background-color: #fff775;
}

.type-styles {
  font-size: 18px;
  margin-left: 6px;
  color: #939393;
}

.difficulty-title-styles {
  font-size: 16px;
  color: #939393;
}

.difficulty-styles {
  display: flex;
  justify-content: center;
  color: #939393;
  font-weight: bold;
  border-radius: 5px;
  border: solid 1px #979797;
}

.reward-container-styles {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.reward-text-styles {
  font-size: 16px;
  color: #939393;
}

.reward-number-styles {
  font-size: 18px;
  margin-left: 3px;
  font-weight: bold;
  color: #ffc107;
}

.icon-star-styles {
  margin-left: 3px;
  width: 20px;
}

.icon-time-styles {
  margin-right: 3px;
  width: 20px;
}

.time-number-styles {
  margin-right: 3px;
  font-size: 16px;
  font-weight: bold;
  color: #4e4e4e;
}

.time-text-styles {
  font-size: 16px;
  color: #939393;
}

.icon-progress-styles {
  width: 18px;
  margin-left: 3px;
}

.title-container-styles {
  display: flex;
  margin-bottom: 6px;
}

.unlocked-container-styles {
  display: flex;
  justify-content: center;
  padding: 10px;
}

.icon-unlocked-styles {
  width: 60px;
}
