

.view-styles {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.cancel-button {
    border-radius: 1.875rem;
    background-color: #ff7777;
    font-family: Roboto;
    color: white;
    font-size: 100%;
    padding: 1%;
    border: none;
    margin-bottom: 5%;
}