.title-text-style {
    font-family: Roboto;
    color: #4e4e4e;
}

.container-style {
    display: flex;
    justify-content: space-between;
}

.text-style {
    font-family: Roboto;
    color: #939393;
    font-size: 20px;
    font-weight: bold;
}

.sub-text-style {
    font-family: Roboto;
    color: #939393;
    font-size: 20px;
}

.span-style {
    font-size: 26px;
    font-weight: normal;
}

.height-icon {
    width: 84px;
}

.height-style {
    display: flex;
    align-items: center;
    max-width: 110px;
}

.height-text-style {
    position: absolute;
    font-family: Roboto;
    font-size: 22px;
    font-weight: bold;
    min-width: 82px;
    max-height: 33px;
    margin-left: -45px;
    margin-bottom: 14px;
    color: #f9a8a7;
    transform: rotate(270deg);

}

