.modal-styles {
    font-family: Helvetica;
    font-size: 18px;
    text-align: center;
    color: #4e4e4e;
}

.footer-styles {
    display: flex;
    justify-content: space-around;
}

.cancel-button-styles {
  border-radius: 6px;
  background-color: #ced2d5;
  color: #4e4e4e;
  border: 0;
}

.logout-button-styles {
    border-radius: 6px;
    background-color: #dc3545;
    color: #ffffff;
    border: 0;
  }