.text-styles {
    font-family: Roboto;
    font-size: 16px;
    color: #717171;
  }

  .modal-styles {
    font-family: Helvetica;
    font-size: 18px;
    text-align: center;
    color: #4e4e4e;
}

.footer-styles {
    display: flex;
    justify-content: space-around;
}

.cancel-button-styles {
  border-radius: 6px;
  background-color: #ced2d5;
  color: #4e4e4e;
  border: 0;
}

.buy-button-styles {
  display: flex;
  justify-content: center;
    border-radius: 6px;
    background-color: #a0e058;
    color: #ffffff;
    border: 0;
    min-width: 85px;
  }
  
.star-icon-style {
  width: 16px;
}

.body-text-styles {
  font-family: Roboto;
  text-align: center;
  font-weight: bold;
  color: #717171;
}

.disabled-text-styles {
  font-family: Roboto;
  text-align: center;
  color: #dc3545;
}