.title-text-style {
    font-family: Roboto;
    color: #4e4e4e;
}
.container-style {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Roboto;
}

.icon-style {
    width: 90px;
}

.text-style {
    color: #939393
}
.number-activities-style {
    color: #ffc107;
    font-size: 18px;
}
.number-star-style {
    font-size: 16px;
}

.new-activities-style {
    color: #ffc107;
    font-size: 10px;
}

.number-star-text-style {
    margin-bottom: 0;
}

.number-stars-style {
    margin-bottom: 0;
    color: #ffc107;
    font-size: 18px;
}

.number-stars-text-style {
    font-size: 10px;
}

.star-style {
    display: flex;
    align-items: center;
}

.star-text-style {
    position: absolute;
    text-align: center;
    font-size: 12px;
    color: white;
    right: 31px;
}