.container-styles {
    width:100%;
    max-height: 100%;
    display: flex;
    flex-direction: column;
    padding: 0px 6px;
}

.card-styles {
    width: 100%;
    display: flex;
    align-items: center;
    margin: 3px 0px;
    padding: 6px 8px;
    border-radius: 8px;
    box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.5);
    background-color: #ffffff;
    font-family: Roboto;
  }

.title-styles {
    margin-top: 6px;
    color: #939393;
}

.icon-styles{
    width: 80px;
}

.inside-card-styles {
    display: flex;
    align-items: center;
    color: #4e4e4e;
}

.text-styles {
    overflow: auto;
    max-height: 70px;
}