.form {
    margin-top: 5%;
    padding: 0;
}

.align-checkbox {
    display: flex;
    align-items: baseline;
}

::placeholder {
    text-align: start;
  }

input[id=isTermsAndConditions] {
    transform: scale(1.5);
   
}

.checkbok-label {
    text-decoration: underline;
    font-family: Roboto;
    font-size: 1.125rem;
    color: #3a56db;
}

.registration-button {
    margin-top: 10%;
    border-radius: 1.875rem;
    background-color: #ff7777;
    color: white;
    font-family: Roboto;
    font-size: 100%;
    padding: 2%;
    border: none;
}