.title-text-style {
    font-family: Roboto;
    color: #4e4e4e;
}

.container-style {
    display: flex;
    justify-content: space-between;
}

.text-style {
    font-family: Roboto;
    color: #939393;
    font-size: 30px;
    font-weight: bold;

   
}

.span-style {
    font-size: 26px;
    font-weight: normal;
}

.height-icon {
    width: 84px;
}

.height-style {
    display: flex;
    align-items: center;
    max-width: 110px;
}

.height-text-style {
    position: absolute;
    font-family: Roboto;
    font-size: 22px;
    font-weight: bold;
    min-width: 82px;
    max-height: 33px;
    margin-left: -45px;
    color: #f9a8a7;
    transform: rotate(270deg);

}
.imc-container {
    display: flex;
    justify-content: flex-end;
}
.imc-text-style {
    font-family: Roboto;
    font-weight: bold;
    border: solid 1px #c4c4c4;
    border-radius: 4px;
    max-width: 180px;
    text-align: center;
    padding: 4px;
    margin-right: 10px;
    color: #939393;
}

#gauge {
    max-height: 80px;
    width: 100%;
}