.container-styles {
    padding: 6px;
}

.header-styles {
    display: flex;
    justify-content: space-between;
    padding: 0px 6px;
}

.title-styles {
  font-family: Roboto;
  font-size: 30px;
  font-weight: bold;
  color: #4e4e4e;
}

.icon-close {
    width: 17px;
    height: 42px;
}

.spinner-styles {
    display: flex;
    justify-content: center;
}

.card-styles {
    width: 100%;
    min-height: 128px;
    padding: 12px 14px;
    border-radius: 8px;
    box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.5);
    background-color: #ffffff;
  }

.password-button {
    width: 100%;
    height: 38px;
    font-size: 11px;
    background-color: #50dfdf;
    border: 0;
}

.button-container {
    display: flex;
    justify-content: center;
    margin: 6px;
}

.save-button {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 127px;
    min-height: 36px;
    background-color: #a0e058;
    border: 0;
}

.row-styles {
    display: flex;
    align-items: flex-end;
}

.row-styles-invalid {
    display: flex;
    align-items: center;
}

.born-date {
    display: flex;
    flex-direction: column;
}