.title-text-style {
    font-family: Roboto;
    color: #4e4e4e;
}
.container-style {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Roboto;
}

.icon-style {
    width: 75px;
}

.text-style {
    color: #4e4e4e;
    overflow: auto;
    max-height: 84px;
}