.sidebar-styles {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 16rem;
  height: 100%;
  padding: 23px 16px;
  background-color: white;
  border-radius: 0 1rem 1rem 0;
  box-shadow: 0px 3px 5px 0 rgba(0, 0, 0, 0.5);
  z-index: 1;
  overflow: auto;
}

.user-styles {
  display: flex;
}

.user-info {
  width: 100%;
  margin-left: 6px;
  flex-direction: column;
  display: flex;
  align-self: flex-end;
}
.user-icon {
  width: 56px;  
}

.plus-icon {
  width: 10px;
  position: absolute;
}

.close-icon {
  width: 12px;  
}

.main-user-icon {
  display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}

.menu-item {
  display: flex;
  justify-content: space-between;
}

.name-styles {
  margin: 0;
  font-family: Roboto;
  font-size: 22px;
  font-weight: bold;
  color: #939393;
}

.box-styles-one {
  display: flex;
  flex-direction: column;
  margin-top: 56px;
  border-top: solid 1px #cfcfcf;
  padding: 7px 0px;
}
.box-styles-two {
  display: flex;
  flex-direction: column;
  border-top: solid 1px #cfcfcf;
  border-bottom: solid 1px #cfcfcf;
  padding: 7px 0px;
}

.box-styles-three {
  bottom: 0;
  display: flex;
  flex-direction: column;
  border-bottom: solid 1px #cfcfcf;
  padding: 7px 0px;
}

.sidebar-element {
  font-family: Roboto;
  font-size: 18px;
  color: #939393;
  padding: 7px 0px;
}

.sidebar-element:active {
  background-color: rgba(209, 209, 209, 0.3);
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
}

.logout-element {
  font-family: Roboto;
  font-size: 18px;
  color: #939393;
  font-weight: bold;
  padding: 7px 0px;
}

.logout-element:active {
  background-color: rgba(209, 209, 209, 0.3);
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
}

.new-user-select {
  display: flex;
  align-content: center;
}

.new-user-select-text {
  font-family: Roboto;
  font-size: 18px;
  color: #939393;
  margin: 0px 6px;
}

.plus-icon {
  width: 16px;
}