.title-styles {
    font-family: Roboto;
    font-size: 24px;
    font-weight: bold;
    color: #939393;
  }
.accordion-header-style {
    padding: 8px;
    display: flex;
    border-radius: 8px;
}
.show-icon {
    width: 29px;
    height: 32px;
}

.accordion-header-title-style {
    color: #939393; 
    font-family: Roboto;
    margin: 0;
    align-self: center;
    margin-left: 6px;
    font-weight: normal;
}

.change-button-styles {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 80px;
    min-height: 36px;
    border-radius: 6px;
    background-color: #a0e058;
    color: #ffffff;
    border: 0;
}

.download-styles {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #939393; 
    font-family: Roboto;
    margin: 6px;
    font-weight: bold;
    cursor: pointer;
}

.download-icon {
    width: 22px;
    height: 32px;
    margin-left: 6px;
}