.body-styles {
    display: flex;
    justify-content: center;
}

.footer-styles {
    display: flex;
    justify-content: space-around;
}

.cancel-button-styles {
    border-radius: 6px;
    background-color: #ced2d5;
    color: #4e4e4e;
    border: 0;
}

.change-button-styles {
    border-radius: 6px;
    background-color: #a0e058;
    color: #ffffff;
    border: 0;
}