.text-styles {
    font-family: Roboto;
    font-size: 16px;
    color: #717171;
  }

.container-styles {
  font-family: Roboto;
}
.description-styles {
  font-size: 16px;
  color: #939393;
  overflow: auto;
  max-height: 84px;
}

.objective-styles {
  margin-top: 6px;
  font-size: 16px;
  color: #939393;
}

.difficulty-styles {
  margin-top: 6px;
  font-size: 16px;
  color: #939393;
}

.icon-styles {
  width: 34px;
}

.icon-container-styles {
  border-radius: 50%;
  padding: 8px;
  background-color: #fff775;
  margin-right: 6px;
}

.title-container-styles {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.time-elapsed-container-styles {
  text-align: center;
  margin-top: 6px;
  color: #939393;
  font-size: 16px;
}

.button-container-styles {
  display: flex;
  justify-content: center;
  margin-top: 6px;
}

.button-styles {
  display: flex;
  justify-content: center;
  background-color: #a0e058;
  border: #a0e058;
  min-width: 178px;
}

.button-progress-styles{
  background-color:#dc3545;
  border:#dc3545;
}

.end-activitie-styles {
  text-align: center;
  margin-top: 6px;
  color: #939393;
  font-size: 16px;
}

.activitie-card-styles {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.reward-container-styles {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.reward-text-styles {
  font-size: 16px;
  color: #939393;
}

.reward-number-styles {
  font-size: 18px;
  margin-left: 3px;
  font-weight: bold;
  color: #ffc107;
}

.icon-star-styles {
  margin-left: 3px;
  width: 20px;
}

.icon-time-styles {
  margin-right: 3px;
  width: 20px;
}

.time-number-styles {
  margin-right: 3px;
  font-size: 16px;
  font-weight: bold;
  color: #4e4e4e;
}

.completed-activitie-styles {
  font-size: 16px;
  text-align: center;
  color: #ffc107;
}

.time-text-styles {
  font-size: 16px;
  color: #939393;
}