.container-style {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.date-style{
    width: 100px;
}
.last-weight-style {
   text-align: center;
}
.last-weight-text-style {
    font-family: Roboto;
    font-size: 40px;
    font-weight: bold;
    color: #cf2121;
}
.text-kg-style {
    font-family: Roboto;
    font-size: 26px;
    margin: 0;
    color: #939393;
}

.text-style {
    font-family: Roboto;
    font-size: 16px;
    color: #adb1a9;
}

.target-weight-style{
    text-align: center;
}

.target-weight-text-style {
    font-family: Roboto;
    font-size: 40px;
    font-weight: bold;
    color: #a0e058;
}

.progress-bar-style {
    text-align: center;
    color: #939393;
    font-family: Roboto;
}
.remaining-days-style{
    margin-bottom: 0;
    font-size: 26px;
    max-height: 30px;
}

.remaining-days-text-style {
    margin-bottom: 0;
    font-size: 10px;
}
.introduce-target-weight-style{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #939393;
    font-family: Roboto;
    font-size: 20px;
    font-weight: bold;
    min-height: 90px;
}

.icon-style {
    width: 32px;
}

.star-icon-style {
    width: 20px;
}


.completed-style {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #939393;
    text-align: center;
    font-family: Roboto;
}


.button-styles {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 80px;
    border-radius: 6px;
    border: 0;
    padding: 3px;
    min-width: 70px;
}
